body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Questrial';
    background-color: #f2f2f2 !important;
}

nav {
    padding: 20px 0 20px 20px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    background-color: #2056AC;
}

.body-card {
    margin: 60px 5% 30px 5%; 
    background-color: white;
    min-height: fit-content;
    border-radius: 5px;
    text-align: center;
    padding: 20px 80px;
}

.record p {
    margin-bottom: 20px;
}

#btn-record {
    display: inline-block;
    font-size: 26px !important; 
    border-radius: 50%;
    border: 1px solid #909090;
    background: transparent;
    padding: 20px 30px;
    color: grey;
    margin-bottom: 20px;
}

#btn-record:hover {
    border: 2px solid #2056AC;
    color: #2056AC;
    cursor: pointer;
    margin-bottom: 25px;
}

#btn-record:hover i {
    color: #2056AC;
}

.btn-record-active {
    border: 1px solid red;
    color: red;
    cursor: pointer;
    margin-bottom: 25px;
}

#elapsed-time {
    display: none;
    font-size: 30px;
    color: red;
    margin-bottom: 20px;
}

#recording-btns {
    display: none;
    margin-bottom: 10px;
}

#btn-pause {
    color: #2056AC;
    border-radius: 3px;
    border: 1px solid #2056AC;
    background: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
    width: 80px;
    margin-right: 10px;
}

#btn-stop {
    color: red;
    border-radius: 3px;
    border: 1px solid red;
    background: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
    width: 80px;
}

#btn-stop:hover {
    cursor: pointer;
    background: red;
    color: white;
}

#btn-pause:hover {
    cursor: pointer;
    background: #2056AC;
    color: white;
}

#recordings-card {
    display: none;
    margin: 30px 5%; 
    background-color: white;
    min-height: fit-content;
    border-radius: 5px;
    text-align: center;
    padding: 30px 80px;
}

.section-header {
    text-align: left;
    margin-bottom: 40px;
    font-size: 22px;
}

.table {
    margin: auto;
    width: auto !important;
}

.table th, td {
    padding-left: 5px;
    padding-right: 5px;
}

#recordings-list {
    list-style-type: none; 
    padding: 0px;
}

#recordings-list li {
    margin-top: 15px;
}

.btn-delete {
    color: gray;
    background: transparent;
    border: none;
}

.btn-delete i {
    font-size: 20px;     
}

.btn-delete:hover {
    color: red;
}

#btn-submit {
    display: none;
    color: white;
    border-radius: 3px;
    border: 1px solid #2056AC;
    background: #2056AC;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
    width: 80px;
    margin-top: 10px;
}

#btn-submit:hover {
    cursor: pointer;
    background: #2056AC;
    color: white;
}